// Breakpoints
$BREAKPOINT_MOBILE: 400px;
$BREAKPOINT_BIG_MOBILE: 600px;
$BREAKPOINT_TABLET: 862px;
$BREAKPOINT_BIG_TABLET: 1400px;
$BREAKPOINT_DESKTOP: 1920px;

// Text sizes
$ROOT_TEXT_SIZE: 14px;

// Colors

// Element sizes
