// Breakpoints
$BREAKPOINT_MOBILE: 400px;
$BREAKPOINT_BIG_MOBILE: 600px;
$BREAKPOINT_TABLET: 862px;
$BREAKPOINT_BIG_TABLET: 1400px;
$BREAKPOINT_DESKTOP: 1920px;

// Text sizes
$ROOT_TEXT_SIZE: 14px;

// Colors
$DARK_TEXT_COLOR: rgba(255, 255, 255, 0.8);
$DARK_TEXT_COLOR_LIGHT: rgba(255, 255, 255, 0.4);
$DARK_BACKGROUND: #181818;
$DARK_BACKGROUND_LIGHT: #212121;
$SEARCH_BOX_BACKGROUND_COLOR: #121212;
$DARK_SCROLL_THUMB: #717171;
$SEARCH_BOX_BORDER_COLOR: hsl(0, 0%, 18%);
$SEARCH_BOX_BORDER_COLOR_HOVER: hsl(0, 0%, 30%);

// Element sizes
$MASTHEAD_HEIGHT: 56px;

$GUIDE_WIDTH_MOBILE: 0px;
$GUIDE_WIDTH_TABLET: 72px;
$GUIDE_WIDTH_BIG_TABLET: 240px;

$GUIDE_HEIGHT: calc(100vh - #{$MASTHEAD_HEIGHT});

$CONTENT_WRAPPER_WIDTH_MOBILE: 100%;
$CONTENT_WRAPPER_WIDTH_BIG_MOBILE: 50%;
$CONTENT_WRAPPER_WIDTH_TABLET: 33.33333%;
$CONTENT_WRAPPER_WIDTH_BIG_TABLET: 25%;
$CONTENT_WRAPPER_WIDTH_DESKTOP: 20%;
