$PRIMARY: red;

$ROOT_TEXT_SIZE: 14px;

$DARK_TEXT_COLOR: rgba(255, 255, 255, 0.8);
$DARK_TEXT_COLOR_LIGHT: rgba(255, 255, 255, 0.4);
$DARK_BACKGROUND: #181818;
$DARK_BACKGROUND_LIGHT: #212121;
$SEARCH_BOX_BACKGROUND_COLOR: #121212;
$DARK_SCROLL_THUMB: #717171;
$SEARCH_BOX_BORDER_COLOR: hsl(0, 0%, 18.82%);

// Element size
$MASTHEAD_HEIGHT: 56px;
$GUIDE_WIDTH: 240px;
$GUIDE_HEIGHT: calc(100vh - #{$MASTHEAD_HEIGHT});
